@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #F356EF;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
  height: 100% !important;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}