.container {
  background: #F356EF;

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.tryItOutButton {
  border-color: white;
}